* {
  margin: 0;
  padding: 0;
}

body {
  font: 15px/1.5 Verdana, Geneva, sans-serif;
  margin:  5px 20px 5px 20px;
  padding: 0px 0px 0px 0px;
  color: #111111;
  background: #EFE8D8;
}

:link { color: #118811; } 
:visited { color: #118811; }
a:focus, a:hover, a:active { outline: 1px dotted #11aa22; }

li { list-style: circle; }

@media (min-width: 768px) {
  #main {
    position: absolute;

    top: 40px;
    left: 360px;
  }

  #sidebar {
    position: absolute;
    top: 40px;
    left: 20px;
    width: 280px;

    padding: 20px 20px 0 0;

    border-right: 1px solid #ccc;
  }
}

@media (max-width: 767.99px) {
  #sidebar ol {
    margin: 10px 20px;
  }
}

#main h1 {
  font-size: 40px;
  font-weight: normal;

  line-height: 40px;

  letter-spacing: -1px;
}

#main p {
  margin: 20px 0;

  font-size: 15px;

  line-height: 20px;
}

#main ol {
  margin: 20px;
}

#main li {
  font-size: 15px;

  line-height: 20px;
}

#main article {
  border-bottom: 1px solid #ccc;

  max-width: 1200px;
}

#main article header {
  margin: 20px 0;
}

#sidebar h2 {
  text-transform: uppercase;

  font-size: 13px;

  color: #333;

  letter-spacing: 1px;

  line-height: 20px;
}

#sidebar li {
  font-size: 14px;

  line-height: 20px;
}

#sidebar p {
  margin: 20px 0;
  line-height: 20px;
}

blockquote {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
  padding-left: 15px;
  border-left: 3px solid #ccc;
} 