<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="refresh" content="0;url=<%= item[:new_url] %>" />
        <link rel="canonical" href="<%= item[:new_url] %>" />
    </head>
    <body>
        <p>
            The page been moved to <a href="<%= item[:new_url] %>"><%= item[:new_url] %></a>
        </p>                                                                  
    </body>                                                                    
</html>